* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #333;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    top: 0;
    padding: 10px 10px;
}

nav {
    background-color: #f8f9fa; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .go-back a {
    color: #252525; 
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 2px solid #252525;
    border-radius: 25px;
    padding: 5px 20px;
    cursor: pointer; 
}

nav .go-back a:hover {
    background-color: #252525;
    color: #f2f2f2;
    transition: 0.5s ease;
}

.resume-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#header-text {
    color: #ffca28;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 35px;
    text-align: center;
}

h1, h2, h3 {
    color: #ffca28;
    margin-top: 20px;
    font-size: 30px;
}
p {
    color: #ddd;
}

.section-divider {
    border-top: 1px solid #444;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul {
    list-style-type: none;
    padding: 0;
}
 ul li {
    margin-bottom: 5px;
}