* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Same format for all containers inside the website */
.container {
    width: 100%;
    top: 0;
    padding: 10px 10px;
}

/* Nav bar design and format*/
header {
    background: #e1e1e1;
    color: #252525;
    display: flex;
    align-items: center;
    padding: 2.5px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-left: 30px;
}

header h1 {
    font-size: 18px;
    justify-content: left;
    margin-right: 16rem;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #252525;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    padding: 0 10px;
}

nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #252525;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease
}

nav ul li a:hover:after {
    width: 100%;
}

/* Button design for Sign up option */
.btn-1 {
    text-decoration: none;
    color: #252525;
    margin-left: -5px;
    margin-right: 10px;
    border: 2px solid #252525;
    padding: 10px 20px;
    border-radius: 25px;
}
.btn-1:hover {
    background-color: #252525;
    color: #f2f2f2;
    transition: 0.5s ease
}

/* Text designs for all sections (Services, Products, etc.) */
section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

section p {
    margin-bottom: 1rem;
}

/* Designs for heading of the website */
#heading {
    background: url('img/header-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px 0;
    text-align: center;
    color: #fff;
    position: relative;
}

#heading h2 {
    font-size: 40px;
    margin-bottom: 15px;   
}
#heading p {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 30px;  
}

/* Buttons for getting started on the header of the website */
.btn-2 {
    display: inline-block;
    background-color: transparent;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-2:hover {
    background-color: #f2f2f2;
    color: #252525;
    transition: 0.5s ease
}


/* About Us Section */
#about-us {
    padding: 100px 0;
    background-color: #252525;
    color: #f2f2f2;
}

#about-us .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 100%;
    max-width: 550px; /* Adjust the width as needed */
    padding-left: 40px; /* Adjust spacing between video and text */
    text-align: left;
}

.about-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    text-indent: 30px;
    margin-bottom: 40px;
}

.about-text .btn {
    text-decoration: none;
    color: #f2f2f2;
    margin-left: -5px;
    margin-right: 10px;
    border: 2px solid #f2f2f2;
    padding: 10px 20px;
    border-radius: 25px;
}

.about-text .btn:hover {
    background-color: #f2f2f2;
    color: #252525;
    transition: 0.4s;
}

.video-container {
    margin-top: 50px;
    width: 100%;
    max-width: 600px; /* Adjust the width as needed */
    padding-top: 28.59%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust the height to fill the container */
    border: 0;
    
}

/* Services card designs */
#services {
    background-color: #f3f3f3;
}
#services h2 {
    padding-top: 10px;
}

#services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Allow flexible number of columns with minimum width of 250px */
    grid-gap: 30px; /* Add gap between grid items */
    max-width: 1200px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container */
    justify-content: center; /* Horizontally center grid items */
}


#services .container .service {
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add slight shadow effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Vertically align items */
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; /* Center align text */
    width: 100%; /* Set width to 100% to fill grid item */
    transition: 0.5s ease;
}

#services .container .service:hover {
    border: 1px solid #252525;
}

#services .container .service .btn {
    display: inline-block;
    background-color: transparent;
    color: #252525;
    border: 2px solid #252525;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}

#services .container .service .btn:hover {
    background-color: #252525;
    color: #f2f2f2;
    transition: 0.5s ease;
}

.service img {
    width: 100%; /* Set image width to 100% */
    max-width: 300px; /* Limit maximum width of image */
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;    
}

.service img:hover {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.service h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service p {
    margin-bottom: 20px;
}


/* Custom CSS for the carousel */
#products {
    padding: 100px 0;
}

#products .container {
    max-width: 1200px;
    margin: 0 auto;
}

#products h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

#products {
    background-color: #f3f3f3;
}
/* Carousel Caption */
.carousel-item img {
    width: 100%; /* Set image width to 100% */
    max-width: 700px; /* Limit maximum width of image */
    height: 500px; /* Maintain aspect ratio and crop if needed */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #fff; /* White text color */
    padding: 30px; /* Padding inside the caption */
    bottom: 0; /* Align caption to the bottom */
    width: 100%; /* Full width */
    left: 0;
}
/* Carousel Caption Title */
.carousel-caption h3 {
    font-size: 1rem; /* Larger font size for title */
    margin-bottom: 0; /* Remove bottom margin */
}
/* Carousel Caption Description */
.carousel-caption p {
    font-size: 1rem; /* Font size for description */
}

/* Custom styles for carousel control buttons */
.carousel-control-prev, .carousel-control-next {
    color: #000; /* Black color for buttons */
    background-color: black; /* Transparent background */
    border: none; /* Remove border */
    margin-top: 125px;
    margin-left: 150px;
    margin-right: 150px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}


/* Hide the arrows on extra small devices */
@media (max-width: 576px) {
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}

footer {
    background: #252525;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}
