* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* Same format for all containers inside the website */
.container {
    width: 100%;
    top: 0;
    padding: 10px 10px;
}

/* Nav bar design and format*/
header {
    background: #f2f2f2;
    color: #252525;
    display: flex;
    align-items: center;
    padding: 2.5px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-left: 30px;
}

header h1 {
    font-size: 18px;
    justify-content: left;
    margin-right: 16rem;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #252525;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    padding: 0 10px;
}

nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #252525;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

/* Button design for Sign up option */
.btn-1 {
    text-decoration: none;
    color: #252525;
    margin-left: -5px;
    margin-right: 10px;
    border: 2px solid #252525;
    padding: 10px 20px;
    border-radius: 25px;
}
.btn-1:hover {
    background-color: #252525;
    color: #f2f2f2;
    transition: 0.4s;
}

/* Designs for heading of the website */
#heading {
    background: url('img/header-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 220px 0;
    text-align: center;
    color: #fff;
    position: relative;
}

#heading h2 {
    font-size: 36px;
    margin-bottom: 15px;   
}
#heading p {
    font-size: 15px;
    margin-bottom: 30px;  
}

/* Buttons for getting started on the header of the website */
.btn-2 {
    display: inline-block;
    background-color: transparent;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}

.btn-2:hover {
    background-color: #f2f2f2;
    color: #252525;
    transition: 0.4s;
}

/* Text designs for all sections (Services, Products, etc.) */
section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

section p {
    margin-bottom: 1rem;
}

/* Services card designs */

#services h2 {
    padding-top: 10px;
}
#services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Allow flexible number of columns with minimum width of 250px */
    grid-gap: 30px; /* Add gap between grid items */
    max-width: 1200px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container */
    justify-content: center; /* Horizontally center grid items */
}

#services .container .service {
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add slight shadow effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Vertically align items */
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; /* Center align text */
    width: 100%; /* Set width to 100% to fill grid item */
}

#services .container .service .btn {
    display: inline-block;
    background-color: transparent;
    color: #252525;
    border: 2px solid #252525;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
}

#services .container .service .btn:hover {
    background-color: #252525;
    color: #f2f2f2;
    transition: 0.4s;
}

.service img {
    width: 100%; /* Set image width to 100% */
    max-width: 300px; /* Limit maximum width of image */
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.service h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service p {
    margin-bottom: 20px;
}







.product-card {
    border: 1px solid #252525;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product-card img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 20px;
}

footer {
    background: #252525;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}
